<%- model_class = Petition -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:pdf_link) %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= link_to petition.name, petition_path(petition) %></td>
        <td><%= link_to petition.description[0,250], petition_path(petition) %></td>
        <td><%= petition.pdf_link %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

