<div id="container">
  <%- model_class = Petition -%>
  <div class="page-header">
    <h1><%= image_tag("https://s3-us-west-2.amazonaws.com/pastepaste/images/cogs.png") %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @petition.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @petition.description %></dd>
  </dl>

  <iframe src="<%= @petition.pdf_link %>" style="width:900px; height: 700px;" frameborder="0"></iframe>
</div>

